<div class="well" ng-controller="GuideCtrl">
  <h4>How to Copy Your Guide into a Word Processor</h4>
      Read through the instructions first.
  <p></p>
  <ol>
    <li>
      You probably want to open the word processor and start a new document first,
      though you could do it after the copy.
    </li>
    <li>
      Click the "Show Guide" link below.
    </li>
    <li>
      A new tab will open with your document.
    </li>
    <li>
      Select the entire document. This most easily done by using Ctrl-A.
    </li>
    <li>
      Copy, most easily done by using Ctrl-C.
    </li>
    <li>
      Now the document is in your clipboard.
    </li>
    <li>
      Go to your word processing document and paste, most easily done using Ctrl-V.
    </li>
    <li>
      Close the tab.
    </li>
  </ol>
  <p>
    <a href="guide.html" target="_blank" ng-click="saveGuide()">Show Guide</a>
  </p>
</div>