<div class="container-fluid" ng-controller="GuideCtrl">
  <h4>How to Copy Your Guide into a Word Processor</h4>
      Read through the instructions first.
  <p></p>
  <ol>
    <li>
      You probably want to open the word processor and start a new document first,
      though you could do it after the copy.
    </li>
    <li>
      Click the "Show Guide" link below.
    </li>
    <li>
      A new tab will open with your document.
    </li>
    <li>
      Select the entire document. This most easily done by using Ctrl-A.
    </li>
    <li>
      Copy, most easily done by using Ctrl-C.
    </li>
    <li>
      Now the document is in your clipboard.
    </li>
    <li>
      Go to your word processing document and paste, most easily done using Ctrl-V.
    </li>
    <li>
      Close the tab.
    </li>
  </ol>
  <p>
    <button type="button"
      ng-dialog="theGuide"
      ng-dialog-data="{{guide}}"
      ng-dialog-class="ngdialog-theme-default"
      ng-dialog-scope="this"
      ng-dialog-show-close="false">Show Guide</button>
  </p>

  <script type="text/ng-template" id="theGuide">
    <div class="modal-header">
      <h3 class="modal-title">CFIR Guide</h3>
    </div>
    <div class="modal-body">
    <span ng-repeat="(domainName, domain) in guide">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5>{{domain.name}}</h5>
        </div>
        <div class="panel-body" ng-repeat="(constructName, construct) in domain.constructs">
          <h6 class="panel-primary"><b>{{construct.name}}</b></h6>
          <ul ng-repeat="guideline in construct.guidelines">
            <li>{{guideline}}</li>
          </ul>
          <ol>
            <li ng-repeat="question in construct.questions">
              {{question.text}}
              <ul>
                <li ng-repeat="probe in question.probes">
                  {{probe}}
                </li>
              </ul>
            </li>
          </ol>
        </div>
      </div>
    </span>
    </div>
    <div class="modal-footer">
      <button class="btn btn-primary" ng-click="closeThisDialog()">OK</button>
    </div>
  </script>

</div>  
