<div ng-controller="GuideCtrl">
  <span ng-repeat="(domainName, domain) in guide">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h5>{{domain.name}}</h5>
      </div>
      <div class="panel-body" ng-repeat="(constructName, construct) in domain.constructs">
        <h6><b>{{construct.name}}</b></h6>
        <ol>
          <li ng-repeat="question in construct.questions">
            {{question.text}}
            <ul>
              <li ng-repeat="probe in question.probes">
                {{probe}}
              </li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </span>
</div>