<div class="well">
  <h4>Welcome to the Interview Guide Tool</h4>
  The Interview Guide Tool will help build a customized interview guide based on the CFIR constructs that are the focus of an evaluation. Click 
  <a 
      href="http://cfirwiki.net/site/constructs.html"
      target="_blank">
    here
  </a> to view the CFIR taxonomy: 

  <p>
  <div>
    <h4>How to Navigate Site (see links above)</h4>
    <ul>
      <li>
        <b>Choose Interview Questions:</b>
        Choose this option to select domains, constructs, questions for
        your customized interview guide.
      </li>
      <li>
        <b>Get Guide:</b>
        Choose this option after you've selected all the questions you
        want. Then follow the instructions for copying your guide to a
        word processor.
      </li>
      <li>
        <b>Start Over:</b>
        Your question choices are
        cumulative. You can choose some questions, get a guide, then
        choose more questions. The ensuing guide will contain ALL the
        questions you've chosen during the session - unless you click "Start Over".
      </li>
      <li>
        <b>Main Site:</b>
        Choose this option to return to the main CFIR site.
      </li>
    </ul>
  </div>

  <p>
  <h5><b>Advice</b></h5>
  <ol>
    <li>
      These questions are offered as a starting point – there is great latitude in how questions can be worded; concepts within constructs may not be covered by the available set of questions.
    </li>
    <li>
      Questions will most likely need to be adapted to your evaluation.
    </li>
    <li>
      Questions can (and most likely should) be reordered to create an effective interview structure.
    </li>
    <li>
      In most scenarios, interviews should be semi-structured: questions may be asked in varying order based on the participant and not all questions may be asked of all participants depending on their role and other considerations.
    </li>
    <li>
      Consider prefacing these questions with broad open-ended questions to help establish rapport and to elicit grounding stories in the words of interviewees. These questions will vary depending on your scenario.
    </li>
  </ol>

</div>