<div class="panel panel-primary" ng-controller="QuestionCtrl">
  <div class="panel-heading">
    <h4 class="panel-title">
      {{selected_domain.name}}: {{selected_construct.name}}
    </h4>
  </div>
  <div class="panel-body">
    Deselect nonessential questions. Click on question to see prompts.
    <div class="panel-group" id="accordion" >
      <div class="panel panel-default" ng-repeat="question in selected_construct.questions">
        <div class="panel-heading">
          <h6 class="panel-title">
            <input type="checkbox" ng-model="question.selected" />
            <a data-toggle="collapse" data-parent="#accordion"
               ng-href="questions#{{question.number}}">
              {{question.text}}
            </a>
          </h6>
        </div>
        <div id="{{question.number}}" class="panel-collapse collapse">
          <div class="panel-body">
            <ul>
              <li ng-repeat="probe in question.probes">
                {{probe}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>