<div ng-controller="SelectedDomainCtrl">
  <div class="well">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h4>{{selected_domain.name}}</h4>
      </div>
      <div class="panel-body">
        {{selected_domain.description}}
        <p>
        <p>
          To learn more, see the
          <a href="http://cfirwiki.net/wiki/index.php?title={{domain_title}}" target="_blank">wiki</a>
        </p>
      </div>
    </div>
  </div>

  <div class="well">
    <h4>Constructs</h4>

    <div class="panel-group" id="accordion">
      <div class="panel panel-info" ng-repeat="(idx, construct) in selected_domain.constructs">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" ng-href="selected_domain#{{idx}}">{{construct.name}}</a>
          </h4>
        </div>
        <div id="{{idx}}" class="panel-collapse collapse">
          <div class="panel-body">
            {{construct.description}}
            <p>
            <p>
              To learn more see the
              <a ng-href="http://cfirwiki.net/wiki/index.php?title={{construct_title(construct.name)}}"
                  target="_blank">wiki</a>.
            </p>
            <p>
            <p>
              <a ng-href="#/questions/{{idx}}">Questions</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>