<!doctype html>
<html lang="en" ng-app="bookletApp">
<head>
  <meta charset="utf-8">
  <title>CFIR Booklet</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="css/bootstrap.css" />
  <script src="../bower_components/jquery/dist/jquery.js"></script>
  <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../bower_components/angular-local-storage/angular-local-storage.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/services.js"></script>
  <script src="http://localhost:9091/livereload.js"></script>
</head>
<body>

  <div ng-controller="GuideCtrl" id="the_guide">
    <span ng-repeat="domain in guide()">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h5>{{domain.name}}</h5>
        </div>

        <div class="panel-body" ng-repeat="construct in domain.constructs">
          <h6 class="panel-primary"><b>{{construct.name}}</b></h6>
          <p><i>{{construct.intro}}</i></p>
          <ul ng-repeat="guideline in construct.guidelines">
            <li>
              <i>
                <span ng-if="guideline.title">{{guideline.title}}:<br></span>
                {{guideline.text}}
              </i>
            </li>
          </ul>
          <ol>
            <li ng-repeat="question in construct.questions">
              <p ng-repeat="guideline in question.guidelines">
                <i>{{guideline.text}}</i>
              </p>
              {{question.text}}
              <ul>
                <li ng-repeat="choice in question.choices">
                  {{choice}}
                </li>
              </ul> 
              <ul>
                <li ng-repeat="probe in question.probes">
                  {{probe}}
                </li>
              </ul>
              <p>
            </li>
          </ol>

          <div class="panel-body" ng-repeat="subconstruct in construct.subconstructs">
            <h6 class="panel-primary"><b>{{subconstruct.name}}</b></h6>
            <p><i>{{subconstruct.intro}}</i></p>
            <ul ng-repeat="guideline in subconstruct.guidelines">
              <li>
                <i>
                  <span ng-if="guideline.title">{{guideline.title}}:<br></span>
                  {{guideline.text}}
                </i>
              </li>
            </ul>
            <ol>
              <li ng-repeat="question in subconstruct.questions">
                <p ng-repeat="guideline in question.guidelines">
                  <i>{{guideline.text}}</i>
                </p>
                {{question.text}}
                <ul>
                  <li ng-repeat="probe in question.probes">
                    {{probe}}
                  </li>
                </ul>
                <p>
              </li>
            </ol>
          </div>
        </div>  <!-- panel-body: constructs -->
      </div>  <!-- panel-primary -->
    </span> <!-- domains -->
  </div>
</body>
</html>